#jc_head{background-image:url('../img/banner.png'); background-repeat:no-repeat;
} 


#jc_head h1 {color:#7b6f79; }
#jc_head h1:first-child:first-letter { float: left;  font-size: 105px; line-height: 60px; padding-top: 4px; padding-right: 8px; padding-left: 3px; font-family: Georgia; }

#jc_head h2{ color:white; }
#jc_head h3{ color:#7b6f79;}

@media (min-width: 800px) {
#jc_head h1 { margin-left: 200px;}
#jc_head h2{  margin-left:240px;}
#jc_head h3{  margin-left:240px;}
}

body{background-color: #cccccc;}

.jc_wrap{ margin-top:1em;
	border:1px #333 solid;
	-moz-box-shadow: 3px 3px 4px #000;
-webkit-box-shadow: 3px 3px 4px #000;
box-shadow: 3px 3px 4px #000;
background-color: white;
}

.sidebar-nav li a {color:#7b6f79; font-size: 1.4em; font-weight: bolder; text-align:right;}

.jc_row {border-bottom: 1em #f8a691 solid;}

#jc_hotel{text-align:right; background:#bcb4ba; padding-right: 1em; padding-bottom: 1em;}
#jc_hotel h3{color:white;}
#jc_hotel a{color:#7b6f79;}


#jc_pic_right{float:right; display: block; padding-left: 2em; max-width:300px;}
#jc_pull {padding:1em; margin:1em; float:top; color:white; 
   background: rgb(200, 54, 54); /* The Fallback */
   background: rgba(200, 54, 54, 0.8); }
#jc_pull p {text-align: right;}