 <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title site.title }} </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      
      .sidebar-nav {
        padding: 9px 0;
      }

      @media (max-width: 980px) {
        /* Enable use of floated navbar text */
        .navbar-text.pull-right {
          float: none;
          padding-left: 5px;
          padding-right: 5px;
        }
      }
    </style>
    <link href="/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/jc/jc.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="ico/favicon.png">
  </head>

  <body>

    

    <div class="container jc_wrap">
        <div class="row-fluid" id="jc_head"> <!--header -->
            <h1>6th Annual Summit</h1>
            <h2>Vocational Rehabilitation <br />
              Program Evaluation & Quality Assurance</h2>
            <h3>September 16-17, 2013 | Providence, RI</h3>
        </div>

      <div class="row-fluid jc_row">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li><a href="/">Home</a></li>
<li><a href="/pages/10_history.html">Summit History</a></li>
<li><a href="/pages/20_reg.html">Registration</a></li>
<li><a href="/pages/30_schedule.html">Schedule</a></li>
<li><a href="/pages/40_highlights.html">Highlights</a></li>
<li><a href="/pages/50_sponsors.html">Sponsors</a></li>
<li><a href="/pages/60_providence.html">Providence, RI</a></li>
<li><a href="/pages/70_rfp.html">RFP Submission</a></li>
            </ul>
            <div id="jc_hotel">
              <h3>Event Hotels</h3>
<h4><a href="http://www.omnihotels.com/blog/omni-welcomes-the-omni-providence-hotel/">Omni Providence Hotel</a></h4>
<h4>Hyatt Providence</h4>
</div>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span8">
          {{content}}

            </div><!--/span-->
          
          </div><!--/row-->
       <footer>
        
      </footer>
        </div><!--/span-->

      </div><!--/row-->

     

      


    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap-transition.js"></script>
    <script src="/js/bootstrap-alert.js"></script>
    <script src="/js/bootstrap-modal.js"></script>
    <script src="/js/bootstrap-dropdown.js"></script>
    <script src="/js/bootstrap-scrollspy.js"></script>
    <script src="/js/bootstrap-tab.js"></script>
    <script src="/js/bootstrap-tooltip.js"></script>
    <script src="/js/bootstrap-popover.js"></script>
    <script src="/js/bootstrap-button.js"></script>
    <script src="/js/bootstrap-collapse.js"></script>
    <script src="/js/bootstrap-carousel.js"></script>
    <script src="/js/bootstrap-typeahead.js"></script>

  </body>
</html>
